<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229137297335-prg1amdhikgqm4srpn66c9ja0uh5gl1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229137297335-prg1amdhikgqm4srpn66c9ja0uh5gl1l</string>
	<key>API_KEY</key>
	<string>AIzaSyA4z53cZ6RpIGQKMDx7l-GMu_ie9BV5Krk</string>
	<key>GCM_SENDER_ID</key>
	<string>229137297335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devmarkaz.cryptoCent</string>
	<key>PROJECT_ID</key>
	<string>crypto-cent</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-cent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229137297335:ios:c8f8140190512f43014232</string>
</dict>
</plist>