<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624098099021-81tvngbk0ojq3mnla5638m5tiv23a1pa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624098099021-81tvngbk0ojq3mnla5638m5tiv23a1pa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>624098099021-bcbr43fffbsjtsc7nvgd3v9l8d2pun62.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCF8zARmBBzC48EPcuPBlUGsBFh5K3aem8</string>
	<key>GCM_SENDER_ID</key>
	<string>624098099021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devmarkaz.boloodo</string>
	<key>PROJECT_ID</key>
	<string>bloodo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624098099021:ios:71d26f6ed119585b884104</string>
</dict>
</plist>